.launchButton {
    background: red;
    border: 5px red solid;
    padding: 5px;
    font-size: 15px;
    color: white;
    transition-duration: 0.5s;

    &:hover, &:focus {
        padding: 5px;
        border: 5px darkred solid;
    }
}

ul.masterList {
    text-align: left;
    li {
        list-style: inside "- ";
        padding-left: 1rem;
        ul {
            list-style: inside "- ";
        }
    }
}

.content {
    .top {
        position: absolute;
        top: 10rem;

        .socialBox {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            .social {
                display: flex;
                align-items: center;
    
                .label {
                    opacity: 0;
                    color: white;
                    background: #222;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 0.25rem;
                }
        
                img {
                    width: 50px;
                    height: 50px;
                    margin: 0.5rem;
                    cursor: pointer;
                    transition-duration: 0.5s;
                }
    
                &:hover .label {
                    opacity: 1;
                }
            }
        }
    }
    
    .middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 5rem;
    
        .middle__card {
            width: 20.25rem;
            height: 30.75rem;
            flex-shrink: 0;
            border-radius: 3.75rem;
            background: #4747478a;
            box-shadow: 50px 50px 5px 0px rgba(0, 0, 0, 0.16);
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            color:#FFF;
    
            &.userInfo {
                flex-direction: column;
    
                .skin {
                    border-radius: 50%;
                }
    
                .pseudo {
                    width: 20.125rem;
                    text-align: center;
                    font-family: Inter;
                    font-size: 2.125rem;
                    font-weight: 400;
                }
    
                .middle__card--playButton {
                    width: 10rem;
                    height: 3rem;
                    border-radius: 1.5rem;
                    background: #4747478a;
                    box-shadow: 50px 50px 5px 0px rgba(0, 0, 0, 0.16);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#FFF;
                    font-size: 1.5rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition-duration: 0.5s;
    
                    &:hover, &:focus {
                        background: #474747;
                    }
                }
            }
    
            &.news {
                h3 {
                    margin-bottom: 0.5rem;
                }
    
                .newsContent {
                    overflow-y: auto;
                    text-align: justify;
                    width: 80%;
                    height: 80%;
    
                    .newsContentBodyArticle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: left;
                        width: 90%;
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 10px;
                        background: #222;
                        cursor: pointer;
            
                        .title {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
            
                        .content{
                            padding-left: 1rem;
                            li {
                                list-style: inside "- ";
                                padding-left: 1rem;
                                ul {
                                    list-style: inside "- ";
                                }
                            }
                        }
                    }
                }
            }

            &.serverStatus {
                padding: 2rem;
                strong {
                    text-align: center;
                    font-family: Inter;
                    font-size: 2.125rem;
                    font-weight: 400;
                }
                
                .serverStatusContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 100%;
                    
                    .state{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .serverStatusContentStatusIcon {
                            &.online {
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background-color: green;
                                border-radius: 50%;
                                margin-left: 10px;
                            }
                            &.offline {
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background-color: red;
                                border-radius: 50%;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.options {
    .options--button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .5rem;
        left: 2rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: .4s;

        .options--button__burger {
            width: 2rem;
            height: 0.2rem;
            background: #F3F3F3;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s;

            &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 0.2rem;
                border-radius: 3px;
                background: #F3F3F3;
                transform: translateY(-0.5rem);
                transition: 1s;
            }

            &::after {
                content: '';
                position: absolute;
                width: 2rem;
                height: 0.2rem;
                border-radius: 3px;
                background: #F3F3F3;
                transform: translateY(0.5rem);
                transition: 1s;
            }
        }
    }

    &.active {
        .optionModal {
            z-index: 1;
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

            .modal-content {
                transform: translateX(100%);
            }
        }

        .options--button,.options--button__burger {
            z-index: 2;
            left: 45%;
            background: transparent;
        }

        .options--button__burger::before {
            transform: translateY(0px) rotate(-405deg);
        }
        .options--button__burger::after {
            transform: translateY(0px) rotate(225deg);
        }
    }

    .optionModal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: -1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
    
        .modal-content {
            position: fixed;
            left: -50%;
            background-color: #2a2929a8;
            color: white;
            width: 50%;
            height: 100%;
            transition: transform .4s;
    
            .modal-header {
                padding: 1rem 16px;
                background-color: #07633d;
                color: white;
            }
    
            .modal-body {
                display: flex;
                flex-direction: column;
                padding: 16px 16px;
                z-index: 1;
                
                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                    &.ram {
                        flex-direction: row;

                        input[type=number] {
                            background: rgba(0, 0, 0, 0.115);
                            color: #fff;
                            width: 50px;
                        }
                    }

                    &.size {
                        align-items: flex-start;

                        > * {
                            display: flex;
                            align-items: center;
                        }

                        input[type=number] {
                            background: rgba(0, 0, 0, 0.115);
                            color: #fff;
                        }
                    }

                    &.auto-connect {
                        align-items: flex-start;

                        > * {
                            display: flex;
                            align-items: center;
                        }

                        input[type=text],input[type=number] {
                            background: rgba(0, 0, 0, 0.115);
                            color: #fff;
                        }
                    }

                    &.functionButtons {
                        flex-direction: row;
                        justify-content: space-evenly;
                        width: 100%;
                    }

                    b {
                        margin-right: 1rem;
                    }

                    input[type=range] {
                        height: 5px;
                    }

                    .functionButton {
                        padding: 1rem;
                        color: #fff;
                        background: rgba(0, 0, 0, 0.115);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background: #222;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: .5s;

    .progressBar {
        display: none;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 25px;
        background-color: #ddd;
        border-radius: 25px;
        overflow: hidden;
        transition: .5s;

        .status {
            position: absolute;
            color: black;
            font-size: 20px;
            margin: 0;
            margin-left: 20px;
            z-index: 1;
        }

        .progress {
            height: 100%;
            width: 0%;
            line-height: 20px;
            background-color: #4CAF50;
            margin: 0;
            transition: all 0.5s ease;
        }
    }
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start off-screen */
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start off-screen */
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}