.launchButton {
    background: red;
    border: 5px red solid;
    padding: 5px;
    font-size: 15px;
    color: white;
    transition-duration: 0.5s;

    &:hover, &:focus {
        padding: 5px;
        border: 5px darkred solid;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
    .modal-content {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 50%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        margin-right: 25vw;
        margin-left: 25vw;

        .modal-header {
            padding: 2px 16px;
            background-color: #ff0000;
            color: white;

            .close {
                color: white;
                float: right;
                font-size: 28px;
                font-weight: bold;

                &:hover, &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            padding: 16px 16px;
            .ram-block {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .ramRange {
                    width: 50%;
                }

                .ramValue {
                    width: 20%;
                }
            }

            .functionButtons {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}



.newsModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1;

    .newsModalContent {
        max-width: 90%;
        max-height: 90%;
        text-align: justify;

        .newsContentBodyArticleContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-radius: 10px;
            background: #222;
            height: 35rem;
            overflow-y: hidden;

            .title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .articleContent{
                padding-left: 1rem;
                height: 80%;
                ul.masterList {
                    height: 100%;
                    overflow-y: auto;
                    li {
                        list-style: inside "- ";
                        padding-left: 1rem;
                        ul {
                            list-style: inside "- ";
                        }
                    }
                }
            }
        }
    }

    .newsModalClose {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
}

.content {
    .top {
        margin: 0;
        padding: 0;
        width: 100%;
        
        .socialBox {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            .social {
                display: flex;
                align-items: center;
    
                .label {
                    opacity: 0;
                    color: white;
                    background: #222;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding: 0.25rem;
                }
        
                img {
                    width: 50px;
                    height: 50px;
                    margin: 0.5rem;
                    cursor: pointer;
                    transition-duration: 0.5s;
                }
    
                &:hover .label {
                    opacity: 1;
                }
            }
        }
    }
    
    .middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        text-align: center;
        color: white;
        border-radius: 10px;
    
        .middle__card {
            width: 20.25rem;
            height: 30.75rem;
            flex-shrink: 0;
            border-radius: 3.75rem;
            background: #4747478a;
            box-shadow: 50px 50px 5px 0px rgba(0, 0, 0, 0.16);
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            color:#FFF;
    
            &.userInfo {
                flex-direction: column;
    
                .skin {
                    border-radius: 50%;
                }
    
                .pseudo {
                    width: 20.125rem;
                    text-align: center;
                    font-family: Inter;
                    font-size: 2.125rem;
                    font-weight: 400;
                }
    
                .middle__card--playButton {
                    width: 10rem;
                    height: 3rem;
                    border-radius: 1.5rem;
                    background: #4747478a;
                    box-shadow: 50px 50px 5px 0px rgba(0, 0, 0, 0.16);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#FFF;
                    font-size: 1.5rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition-duration: 0.5s;
    
                    &:hover, &:focus {
                        background: #474747;
                    }
                }
            }
    
            &.news {
                h3 {
                    margin-bottom: 0.5rem;
                }
    
                .newsContent {
                    overflow-y: auto;
                    text-align: justify;
                    width: 80%;
                    height: 80%;
    
                    .newsContentBodyArticle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: left;
                        width: 90%;
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 10px;
                        background: #222;
                        cursor: pointer;
            
                        .title {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
            
                        .content{
                            padding-left: 1rem;
                            li {
                                list-style: inside "- ";
                                padding-left: 1rem;
                                ul {
                                    list-style: inside "- ";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background: #222;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .progressBar {
        display: none;
        flex-wrap: wrap;
        align-content: center;
        width: 80%;
        height: 25px;
        background-color: #ddd;
        border-radius: 25px;
        overflow: hidden;

        .status {
            position: absolute;
            color: black;
            font-size: 20px;
            margin: 0;
            margin-left: 20px;
            z-index: 1;
        }

        .progress {
            height: 100%;
            width: 0%;
            line-height: 20px;
            background-color: #4CAF50;
            margin: 0;
            transition: all 0.5s ease;
        }
    }

    .channel__control {
        // display: none;
        color: black;
        height: 2rem;
        width: 7rem;
        z-index: 1;

        .channel__indicators {
            height: 100%;
        }

        .channel__value-container {
            text-align: center;
        }
    }

    .channel__menu {
        color: black;
    }
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}